<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .jumbotron {
                width: 800px;
                height: 600px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }
        </style>
</head>
<body>
    <div class="jumbotron">
    <h1 class="text-center title-1"> Cadastro de Usu&aacute;rio </h1>
        <form action="/adduser" method="post">
            <p>Username:<input class="form-control" type="text" name="username" /></p>
            <p>Email:<input class="form-control" type="text" name="useremail" /></p>
            <p><input class="btn btn-primary" type="submit" value="Salvar" /></p>
        </form>
    </div>
</body>
</html>